{% include 'stores/partials/_head.html' %}
<body>

    <header class="header" id="header">
        <nav class="nav-container">
            <div class="nav_menu" id="nav-menu">
                <ul class="nav_list">
                    <li class="nav_item">
                        <a href="{% url 'stores:index' %}" class="nav_link active-link">Products</a>
                    </li>
                    <li class="nav_item">
                        <a href="{% url 'stores:add_employee' %}" class="nav_link">Add Employee</a>
                    </li>
                    <li class="nav_item">
                        <a href="{% url 'users:index' %}" class="nav_link">Users</a>
                    </li>
                    <li class="nav_item">
                        <a href="{% url 'stores:logout' %}" class="nav_link">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
    {% include 'stores/partials/_employee.html' %}

    {% include 'stores/partials/_footer.html' %}

</body>
</html>