{% include 'stores/partials/_head.html' %}
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                <h2 class="msg-text">{{ message }}</h2>
            </div>
        {% endfor %}
    {% endif %}

    <section class="section">
        <div class="links">
            <a href="{% url 'stores:index' %}">Index</a>
            {% if user.is_authenticated %}
                <a href="{% url 'stores:add_employee' %}">Add</a>
                <a href="{% url 'stores:logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'stores:login' %}">Login</a>
            {% endif %}
        </div>
    </section>
    
    {% include 'stores/partials/_employee.html' %}

</body>
</html>