{% include 'stores/partials/_head.html' %}
<body>
    <header class="header" id="header">
        <nav class="nav-container">
            <div class="nav_menu" id="nav-menu">
                <ul class="nav_list">
                    <li class="nav_item">
                        <a href="{% url 'stores:all_employees' %}" class="nav_link active-link">Employees</a>
                    </li>
                    <li class="nav_item">
                        <a href="{% url 'stores:add_employee' %}" class="nav_link">Add Employee</a>
                    </li>
                    <li class="nav_item">
                        <a href="{% url 'stores:logout' %}" class="nav_link">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="section details">
        <div class="employee-detail">
            <div class="detail">
                <h1 class="detail-name">
                    {{ employee.name }}
                </h1>
                <div class="detail-info">
                    <h2 class="detail-age">Age: {{ employee.age }}</h2>
                    <h2 class="detail-function">Function: {{ employee.function }}</h2>
                    <h2 class="detail-store">Store: {{ employee.store }}</h2>
                </div>
                <div class="employee-remove">
                    {% if user.is_authenticated and employee.id != 1 %}
                        <a class="btn" href="{% url 'stores:remove_employee' employee.id %}">Remove</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    {% include 'stores/partials/_footer.html' %}

</body>
</html>