{% include 'stores/partials/_head.html' %}
<body>

    <header class="header" id="header">
        <nav class="nav-container">
            <div class="nav_menu" id="nav-menu">
                <ul class="nav_list">
                    <li class="nav_item">
                        <a href="{% url 'stores:index' %}" class="nav_link active-link">Products</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav_item">
                            <a href="{% url 'stores:add_product' %}" class="nav_link">Add Product</a>
                        </li>
                        <li class="nav_item">
                            <a href="{% url 'stores:all_employees' %}" class="nav_link">Employees</a>
                        </li>
                        <li class="nav_item">
                            <a href="{% url 'stores:logout' %}" class="nav_link">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav_item">
                            <a href="{% url 'stores:login' %}" class="nav_link">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <section class="section products">
        {% for product in products %}
            <div class="product">
                <h1 class="p-text product-title">{{ product.name }}</h1>
                <p class="p-text product-desc">{{ product.short_description }}</p>
                <p class="p-text product-desc">{{ product.long_description }}</p>
                <h2 class="p-text product-price">Price: {{ product.price }}</h2>
                <h2 class="p-text product-stock">Stock: {{ product.stock }}</h2>
                {% if product.image %}
                <p>
                    <img class="product-image" src="{{ product.image.url }}" alt="{{ product.short_description }}">
                </p>
                {% endif %}
                <h2 class="p-text product-store">{{ product.store }}</h2>
                {% if user.is_authenticated %}
                    <div class="product-links">
                        <a class="product-link" href="{% url 'stores:remove_product' product.id %}">Remove</a>
                        <a class="product-link" href="{% url 'stores:update_product' product.id %}">Update</a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </section>

    {% include 'stores/partials/_footer.html' %}
    
</body>
</html>