{% include 'stores/partials/_head.html' %}
<body>

    <header class="header" id="header">
        <nav class="nav-container">
            <div class="nav_menu" id="nav-menu">
                <ul class="nav_list">
                    <li class="nav_item">
                        <a href="{% url 'stores:index' %}" class="nav_link active-link">Products</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav_item">
                            <a href="{% url 'stores:logout' %}" class="nav_link">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav_item">
                            <a href="{% url 'stores:login' %}" class="nav_link">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <section class="section login">
        {% if user.is_authenticated %}
            <div class="login-content">
                <p class="login-text">
                    Logged as {{ user.username }}.
                    Click <a href="{% url 'stores:logout' %}">here</a>
                    to logout.
                </p>
            </div>
        {% else %}
            <form action="{% url 'stores:login' %}" method="post">
                {% csrf_token %}
                <div class="form-content">
                    <div class="form-group">
                        <label for="input1">Username</label>
                        <input type="text" id="input1" placeholder="Username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="input2">Password</label>
                        <input type="password" id="input2" placeholder="Password" name="password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-add_user">Login</button>
                    </div>
                </div>
            </form>
        {% endif %}
    </section>

    {% include 'stores/partials/_footer.html' %}

</body>
</html>