{% include 'stores/partials/_head.html' %}
<body>
    <section class="section">
        <div class="links">
            <a href="{% url 'stores:index' %}">Index</a>
            <a href="{% url 'stores:add_product' %}">Add</a>
            <a href="{% url 'stores:logout' %}">Logout</a>
        </div>
    </section>

    <section class="section">
        <div class="contact-options">
            <form action="{% url 'stores:remove_product' product.id %}" method="POST">
                {% csrf_token %}
                {% if confirmation == 'no' %}
                    <input type="hidden" name="confirmation" value="yes">
                    <button class="btn btn-option btn-delete" type="submit">Confirm?</button>
                {% else %}
                    <button class="btn btn-option btn-delete" type="submit">Delete</button>
                {% endif %}
            </form>
        </div>
    </section>
</body>
</html>