<footer class="footer">
    <div class="footer_container">
        <div>
            <h1 class="footer_title">
                {{ store.name }}
            </h1>
            <h2 class="footer_description">{{ store.description }}</h2>
        </div>

        <div class="footer_social">
            <a href="https://github.com/DuduPNetto" target="_blank" class="footer-link">
                <i class="ri-github-fill"></i>
            </a>

            <a href="https://www.instagram.com/eduardo_pianovski/" target="_blank" class="footer-link">
                <i class="ri-instagram-line"></i>
            </a>

            <a href="https://www.linkedin.com/in/eduardo-netto-357320269/" target="_blank" class="footer-link">
                <i class="ri-linkedin-box-line"></i>
            </a>
        </div>

        <span class="footer_copy">
            &copy; Copyright EPN. All rights reserved.
        </span>
    </div>
</footer>