<section class="section employees">
    <div class="employee-card">
        <div class="employee-identify-start employee-identify">
            <h2 class="employee-id">ID</h2>
            <h1 class="employee-name">NAME</h1>
        </div>
        <div class="employee-identify">
            <h2 class="employee-function">FUNCTION</h2>
        </div>
        <div class="employee-identify">
            <h2 class="employee-function">LINKS</h2>
        </div>
    </div>
    {% for employee in employees %}
        <div class="employee-card">
            <div class="employee-identify-start employee-identify">
                <h2 class="employee-id">{{ employee.id }}</h2>
                <h1 class="employee-name">{{ employee.name }}</h1>
            </div>
            <div class="employee-identify">
                <h2 class="employee-function">{{ employee.function }}</h2>
            </div>
            <div class="employee-identify">
                <div class="employee-links">
                    <a class="employee-link" href="{% url 'stores:employee_detail' employee.id %}">Detail</a>
                    {% if employee.function != 'Owner' and user.is_authenticated %}
                        <a class="employee-link" href="{% url 'stores:update_employee' employee.id %}">Update</a>
                        <a class="employee-link" href="{% url 'stores:remove_employee' employee.id %}">Remove</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</section>